*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html{
  font-size: 62.5%;
  background: linear-gradient(90deg, purple, yellow);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  display: none;
}

.container{
  margin: 0 auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  gap: 15px;
}

.gallery_item{
  background-color: lightblue;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery_item1{
  grid-area: 1/1/3/3;
}

.gallery_item2{
  grid-area: 1/3/span 2/span 2;
}

.gallery_item3{
  /* grid-area: r/5/r/; */
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: span 5;
}

.gallery_item4{
  grid-area: 3/1/6/5;
}

.gallery_item5{
  grid-area: 6/1/9/span 4;
}

.gallery_item6{
  grid-area: 6/5/9/9;
}

.gallery_item7, .gallery_item8, .gallery_item9, .gallery_item10, .gallery_item11, .gallery_item12, .gallery_item13, .gallery_item14, .gallery_item15, .gallery_item16{
  display: none;
}

@media (max-width: 1200px){
  .container{
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 2.5vw);
    /* gap: 5px; */
  }

  .gallery_item7{
    display: inherit;
    grid-area: 1/9/6/-1
  }

  .gallery_item7, .gallery_item8, .gallery_item9, .gallery_item10, .gallery_item11, .gallery_item12, .gallery_item13, .gallery_item14, .gallery_item15, .gallery_item16{
  display: inherit;  
}

 [class*="gallery_item"]{
   grid-area: revert;
   grid-area: auto/auto/span 4/ span 4;
 }

 h1{
   display: inherit;
   text-align: center;
   font-size: 5rem;
   margin-bottom: 20px;
 }
}





@media (min-width: 1600px){
  .container{
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 2.5vw);
    /* gap: 5px; */
  }

  .gallery_item7{
    display: inherit;
    grid-area: 1/9/6/-1
  }

  .gallery_item7, .gallery_item8, .gallery_item9, .gallery_item10, .gallery_item11, .gallery_item12, .gallery_item13, .gallery_item14, .gallery_item15, .gallery_item16{
  display: inherit;  
}

 [class*="gallery_item"]{
   grid-area: revert;
   grid-area: auto/auto/span 4/ span 4;
 }

 h1{
   display: inherit;
   text-align: center;
   font-size: 5rem;
   margin-bottom: 20px;
 }
}